@model SmartHouseMVC.Models.Classes.Login

<div  id="passwordform">
        @using (Html.BeginForm("AuthLogin", "Authentication"))
        {                  
            <div>
                @Html.LabelFor(model => model.Name) <br />               
                @Html.EditorFor(model => model.Name)                
            </div>
            <div>
                @Html.LabelFor(model => model.Password) <br />
                @Html.EditorFor(model => model.Password)               
            </div>
            <div>
                <input type="submit" value="Sign in" id="buttomFormPass"/>
            </div>                   
        }
</div>
