
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p><h1>Cleare2</h1></p>
    <p><h4>@ViewBag.Entitys</h4></p>
</body>
</html>
